body{
    background-color: rgb(211, 211, 211);
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: large;
    color: rgb(25, 168, 73);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 500px;
    width: 500px;
}


a{
 color: rgb(225, 226, 142);
}
