body{
    background-color: whitesmoke;
}
h1{
    font-family: 'Courier New', Courier, monospace;
}
p{
    font-size: large;
    color: rgb(138, 115, 115);
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    height: 500px;
    width: 500px;
}


a{
 color: navy;
}